<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Hall2 Secret</title>
        <link rel="stylesheet" href="/static/bower_components/foundation-sites/dist/foundation.min.css" />
    </head>
    <body>
        <div class="row">
            <div class="text-center">
                <img src="/static/images/hall2.png">
                <h4>Hall2 Secret</h4>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="large-6 large-offset-3 columns">
                <div id="fail-submit" class="alert callout" style="display: none">
                    <p>There is an error (<span></span>) occurred when submitting your secret, sorry for the trouble, please try again later.</p>
                </div>
                <div id="secret-form">
                    <p class="lead">
                        Hey Lovely Residents in Hall2:
                        <br />
                    </p>
                    <p>
                        We are going to add a brain new section called "Hall2 Secret" in 2015/2016 hall magazine! So welcome to leave your secrets here!
                        <br /><small>*Your secrets may not be selected due to space limitation or the content is inappropriate.</small>
                    </p>
                    <div class="label text-center">
                        OK, here we go.
                    </div>
                    <form id="secret-form" action="post/" method="POST">
                        <textarea rows="5" name="content" placeholder="What do you want to say?"></textarea>
                        <fieldset>
                            <legend>Type</legend>
                            <input type="radio" name="type" value="profession" required><label>Profession</label>
                            <input type="radio" name="type" value="thanks"><label>Thanks</label>
                            <input type="radio" name="type" value="complain"><label>Complain</label>
                            <input type="radio" name="type" value="others"><label>Other</label>
                        </fieldset>
                        <fieldset>
                            <legend>Name</legend>
                            <label>show your name: 
                                <input type="checkbox" name="show_name">
                            </label>
                            <label>name: 
                                <input type="text" name="name">
                            </label>
                        </fieldset>
                        <div class="text-center">
                            <a href="javascript:submit();" class="button">Submit</a>
                        </div>
                    </form>
                </div>
                <div id="success-submit" class="success callout" style="display: none">
                    <p>Your secret has been submitted, want to <a href="#" onclick="javascript:showForm()">write another one</a>?</p>
                </div>
            </div>
        </div>
    </body>
    <script src="/static/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="/static/bower_components/foundation-sites/dist/foundation.min.js" type="text/javascript"></script>
    <script src="/static/js/main.js" type="text/javascript"></script>
</html>